h1 {
    text-align: center;
    color: thistle;
}

div {
    display: flex;
    justify-content: center;
}
body {
    background-color:firebrick ;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

#Yesbtn {
    font-size: 24px;
    background-color: thistle;
}
#Nobtn {   
    font-size: 24px;
    background-color: thistle;
}

